Server Name:
<input
type="text"
[(ngModel)]="serverName"
(keyup)="onKeystroke()">

Server Status Code:
<input
type="text"
[(ngModel)]="serverStatus"
(keyup)="onKeystroke()">

<button
[disabled]='isStringEmpty'
(click)="onCreateServer()"
class="btn btn-primary">Change Server name</button>

<hr>

<!--for (server of servers) {-->
<div>Server Name: {{serverName}}</div>
<span [ngSwitch]="serverStatus">
  <p *ngSwitchCase="200">Server Status: Online</p>
  <p *ngSwitchCase="400">Server Status: Forbidden</p>
  <p *ngSwitchCase="404">Server Status: Not Found</p>
  <p *ngSwitchDefault>FATAL ERROR - A VIRUS HAS BEEN DETECTED IN YOUR SYSTEM TRAY - EXPORTING ALL PERSONAL DATA OFFSHORES</p>
</span>
<!--}-->

