.flex {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin: 0% 33%;
}
.failure {
  border: solid;
  border-radius: 10px;
  width: 100%;
  background-color: rgb(196, 2, 2);
  font-size: 30px;
  text-align: center;
}
